@charset "ISO-8859-1";

html, body {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	font-family: 'Numans', sans-serif;
	filter: alpha(opacity = 50);
	background-color: rgba(15,15,15,0.5) !important;
}

.container {
	height: 100%;
	opacity: 0.5%
}

.card {
	height: 100%;
	margin-top: 21%;
	margin-left: -1%;
	margin-right: -1%;
	width: 400px;
}

.card-header h3 {
	color: white;
}

.image {
	width: 60%;
	margin-left: 17%;
	margin-right: 20%;
}